.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal section img {
  border: none;
}

.reveal .more-small {
  font-size: 0.8rem;
}

.reveal section .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reveal section .logos .logo {
  max-width: 180px;
}

.reveal section .logos .logo img {
  box-shadow: none;
}

.reveal section img.no-deco {
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.reveal section .big {
  word-wrap: initial;
  font-size: 3em;
  margin: 0;
}

.reveal section .biggest {
  word-wrap: initial;
  font-size: 7em;
  margin: 0;
}

.reveal section .blur:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  background-color: #fff;
  opacity: 0.8;
}

.reveal section.warning {
  border: solid 20px red;
  color: #fff;
}

.reveal section .flex-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
}

.reveal section .flex-container .item-40 {
  width: 40%;
}
.reveal section .flex-container .item-50 {
  width: 50%;
}
.reveal section .flex-container .item-60 {
  width: 60%;
}

.reveal section ul.space {
  margin-bottom: 1.5rem;
}
